.opa-01 {
  opacity: 0.1;
}
.opa-02 {
  opacity: 0.2;
}
.opa-03 {
  opacity: 0.3;
}
.opa-04 {
  opacity: 0.4;
}
.opa-05 {
  opacity: 0.5;
}
.opa-06 {
  opacity: 0.6;
}
.opa-07 {
  opacity: 0.7;
}
.opa-08 {
  opacity: 0.8;
}
.opa-09 {
  opacity: 0.9;
}
