.sign_up_button.nav {
  border-radius: 20px;
  background-color: #f37451 !important;
}
.sign_up_button.nav:hover {
  background-color: #00d369 !important;
  color: white !important;
}
.sign_up_button.nav span:hover {
  color: white !important;
}
.sign_up_button {
  border-radius: 20px;
  background-color: rgb(0, 211, 105) !important;
  border-color: rgb(0, 211, 105) !important;
  letter-spacing: 0;
  color: #f2f2f2;
}
.sign_up_button:hover {
  color: #f2f2f2 !important;
}
