.row {
  margin-inline: 0;
}

.d-none {
  display: none !important;
}

.visibility {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.-ml-30 {
  margin-left: -30px;
}

.-ml-40 {
  margin-left: -40px;
}

.-ml-50 {
  margin-left: -50px;
}

.-ml-60 {
  margin-left: -60px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-235 {
  margin-left: 235px;
}

.ml-370 {
  margin-left: 370px;
}

.-mt-3 {
  margin-top: -3px;
}

.-mt-5 {
  margin-top: -5px;
}

.mt-100px {
  margin-top: 100px;
}

.test {
  border: 1px solid red;
}

.main-buttons-icon {
  font-size: 24px !important;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.max-width-100 {
  max-width: 100% !important;
}

.max-height-100 {
  max-height: 100% !important;
}

@media (max-width: 959px) {
  .mt-under960-5 {
    margin-top: 20px !important;
  }
  .hidden-under960 {
    display: block !important;
  }
}

@media (max-width: 600px) {
  .w-xs-25{
    width: 25% !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
  .-ml-xs-35 {
    margin-left: -35px;
  }
}

@media (max-width: 400px) {
  .v-application--is-ltr .v-data-footer__pagination {
    margin: 0 auto !important;
  }
}

@media (max-width: 340px) {
  .v-data-footer {
    font-size: 0.55rem;
  }
  .v-application--is-ltr .v-data-footer__pagination {
    margin: 0 auto !important;
  }
  .v-application--is-ltr .v-data-footer__select {
    margin-right: 2px !important;
  }
  //.v-btn:not(.v-btn--round).v-size--default {
  //  width: 50% !important;
  //}
}
